.catalog_image {
    width: 300px;
    margin-left: 60px;

}
 .catalog_container {
    display: flex;
    flex-wrap: nowrap;
    margin-left:70px;
    margin-right: 70px;
    text-align: center;
 }

